@model LAP.Web.Models.RaumFilterModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    @foreach (var item in Model.Buildings)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(Model => item.City)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => item.City)
            </td>
        </tr>
    }
</table>

