
@{
    ViewBag.Title = "RechnungPdfAnzeigen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RechnungPdfAnzeigen</h2>

<script>
    window.open('/MyUrl/GetCSV', 'DownloadWindowName');
</script>
